{% extends "main.html" %}
{% block comment %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/comment.css') }}">
<div class="container">
       <div class="image-container">
  
        <img id="banner" src="{{ url_for('static',filename='imgs/comment.jpg') }}">
        <div id="banner-text">COMMENT</div>
</div>


        <h3>Please write your comment</h3>
          <form action="/API/add_data" method="post" id="commentform">
              <div class="form-group">
                  <input type="text" class="form-control" name="name" placeholder="Name">
              </div>
              <div class="form-group">
                <textarea class="form-control" rows="5" id="comment" name="comment" form="commentform" placeholder= "Write your comment..." maxlength="300"></textarea>
              </div>
              <div>
              Max 300 charaters
              <div class="text-right float-right">
              <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
           </form>
<div class="mt-4">           
<hr>
<hr>
</div>
     <div id="form-wrapper">
       
     <form action="/API/search" method="post"  class="row justify-content-between">
      <div class="col-lg-10 col-xs-1" >
    <input class="form-control  my-2" type="search" placeholder="Serach Name" name="searchh" aria-label="Search" >
  </div>
  <div class="col-lg-1 col-xs-1" >
    <button class="btn btn-outline-success my-2 float-right" type="submit">Search</button>
  </div>
  </form>
</div>

           {% for dataa in Comment_list %}
            <div id="commnet-box" class="card m-3">
                <div class="card-header mb-n7" style="height: 50px;">
                    <p>{{ dataa.Name }}</p>
                </div>
                <div class="card-body">
                    <p>{{ dataa.Comment }}</p>
                    <p>{{ dataa.CreateDate }}</p>
                </div>
            </div>
            {% endfor%}

        
{% endblock %}
