{% extends "main.html" %}
{% block hello %}
<div class="container">
<div class="col col-lg-11">

        <img class="float-lg-right float-md-left float-none" src="{{url_for('static', filename='imgs/frog.jpg')}}" alt="not available" width="233px" style="float:right" />
    
    <p>I’m interested in anything that can be  done with computers.<br>
        My life with computer started with MSX PC.  I was trying to program analog clock with BASIC language.  <br>
        It was not successful.  The equation of a circle is too complicated for 12 years old of me.
        After that, Instead of programming, I got interested in tweaking computer system to play a game with limited resources.<br>
        As Internet was spreading to world,  Networking , server administration got me attracted.  Learning with only books in the library was not easy for me. <br>
        While I was working as a cabinetmaker,  I realized that a lot of learning resources on the Internet. It was exciting to learning new things like 3D modelling myself and applying to my woodworking. <br>
        When I worked at the massive production environment,  I understood  great advantage of Database, Web programming, MS Excel VBA and Virtual Machine. I could learn all I’m interested in.  I appreciate  all the people who post information at Online Tutorials, Blog, Google, Forums, YouTube.<br><br><br>
        <h5>J’s home is built with Python,  Flask, Bootstrap, PostgresSQL on Heroku Cloud Application Platform.  As developing this site,  The Linux system is little more familiar to me.
        </h5>
          
    
    </p>

</div>
</div>

{% endblock %}
