{% extends "main.html" %}
{% block hello %}
<div class="container">
<div class="col col-lg-11">

        <img class="float-lg-right float-none" src="{{url_for('static', filename='imgs/stilllife.jpg')}}" alt="not available" width="233px" style="float:right" />
    
    <p>This is Jay's home for practing web development
        By the time Angela was brought to Jamestown’s muddy shores in 1619, she had survived war and capture in West Africa, a forced march of more than 100 miles to the sea, a miserable Portuguese slave ship packed with 350 other Africans and an attack by pirates during the journey to the Americas.

    “All of that,” marveled historian James Horn, president of the Jamestown Rediscovery Foundation, “before she is put aboard the Treasurer,” one of two British privateers that delivered the first Africans to the English colony of Virginia.

    Now, as the country marks the 400th anniversary of the arrival of those first slaves, historians are trying to find out as much as possible about Angela, the first African woman documented in Virginia. They see her as a seminal figure in American history — a symbol of 246 years of brutal subjugation that left millions of men, women and children enslaved at the start of the Civil War

    Two years ago, researchers launched an archaeological investigation in Jamestown at the site of the first permanent English settlement in North America to find any surviving evidence of Angela.

    She is listed in the 1624 and 1625 census as living in the household of Capt. William Pierce, first as “Angelo a Negar” and then as “Angela Negro woman in by Treasurer.” By then, she had survived two other harrowing events: a Powhatan Indian attack in 1622 that left 347 colonists dead and the famine that followed.
    </p>

</div>
</div>

{% endblock %}
