myslide {
    position: fixed;
    top:57px;
}


    /* Mobile */
@media (max-width: 767px) {
    .my1175 {
        width: 100%;
    }
    .my1305 {
        width: 100%;
    }
    .my1585 {
        width: 100%;
    }
    .my1834 {
        width: 100%;
    }
    .my643 {
        width: 100%;
    }
}
/* tablets */
@media (max-width: 991px) and (min-width: 768px) {
    .my1175 {
        width: 100%;
    }
    .my1305 {
        width: 100%;
    }
    .my1585 {
        width: 100%;
    }
    .my1834 {
        width: 100%;
    }
    .my643 {
        margin: auto;
    }
}

/* laptops */
@media (max-width: 1274px) and (min-width: 992px) {
    .my1305 .my1585 .my1834 {
        width: 100%;
        
    }
}

/* desktops */
@media (min-width: 1275px) {
    .my1305 .my1585 .my1834 {
        width: 100%;
    }
 }
