myslide {
    position: fixed;
    top:57px;
}

body {
    background-color: black;
}


    /* Mobile */
@media (max-width: 767px) {
    .my1175 {
        width: 100%;
    }
    .my1305 {
        width: 100%;
    }
    .my1585 {
        width: 100%;
    }
    .my1834 {
        width: 100%;
    }
    .my643 {
        width: 100%;
    }
}
/* tablets */
@media (max-width: 991px) and (min-width: 768px) {
    .my1175 {
        width: 100%;
    }
    .my1305 {
        width: 100%;
    }
    .my1585 {
        width: 100%;
    }
    .my1834 {
        width: 100%;
    }
    .my643 {
        margin: auto;
    }
}

/* laptops */
@media (max-width: 1274px) and (min-width: 992px) {
    .my1175 {
        width: 100%;
    }
    .my1305 {
        width: 100%;
    }
    .my1585 {
        width: 100%;
    }
    .my1834 {
        width: 100%;
    }
    .my643 {
        margin: auto;
    }
}

/* desktops */
@media (min-width: 1275px) and (max-width: 1919px){
    .my1175 {
        margin:auto;
    }
    .my1305 {
        margin:auto;
    }
    .my1585 {
        margin:auto;
    }
    .my1834 {
        width:100%;
    }
    .my643 {
        margin: auto;
    }
 }

 @media (min-width: 1920px) {
    .my1175 {
        margin:auto;
    }
    .my1305 {
        margin:auto;
    }
    .my1585 {
        margin:auto;
    }
    .my1834 {
        margin:auto;
    }
    .my643 {
        margin: auto;
    }

 }
